
.custom-select {
  width: 100%;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.bg-new{
    background-color: red
}

.bg-double{
    background-color: yellow
}

.bg-cumulative{
    background-color: coral
}

.bg-latest{
    background-color: #9fcdff;

}